<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | 会社名</title>
  <style>
    /* スタイルシート */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    h3 {
      text-align: center;
    }

    p {
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }

    /* 個人情報保護方針のスタイル */
    .privacy-policy {
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-top: 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>プライバシーポリシー</h3>
    
    </br>
    
    <p>MOTORCHATは、個人情報を保護し、お客様に更なる信頼性と安心感をご提供できるように努めて参ります。</p>

    <!-- 個人情報保護方針 -->
    <div class="privacy-policy">
      <h2>個人情報保護方針</h2>
      <ol>
        <li>個人情報の取得について
          <p>MOTORCHATは、偽りその他不正の手段によらず適正に個人情報を取得致します。</p>
        </li>
        <li>個人情報の利用について
          <p>MOTORCHATは、個人情報を以下の利用目的でかつ必要な範囲内で、利用致します。</p>
          <ul>
            <li>各種サービスの利用に関するアカウント情報の作成に必要な最低限の情報提供</li>
          </ul>
        </li>
        <li>個人情報の第三者提供について
          <p>MOTORCHATは、個人情報保護法等の法令に定めのある場合を除き、個人情報をあらかじめご本人の同意を得ることなく、第三者に提供致しません。</p>
        </li>
        <li>本方針の変更
          <p>本方針の内容は変更されることがあります。</p>
          <ul>
            <li>変更後の本方針については、MOTORCHATが別途定める場合を除いて、当サイトに掲載した時から効力を生じるものとします。</li>
          </ul>
        </li>
        <li>個人情報の安全管理について
          <p>MOTORCHATは、取り扱う個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。</p>
        </li>
        <li>投稿内容の管理について
          <p>MOTORCHATは、公序良俗に反する投稿や他者のプライバシーを侵害するような行為は禁止しています。</p>
        </li>
        <li>ユーザーの投稿内容に関する権利について
          <p>ユーザーが投稿した内容については、当サイトの利用規約に従い、必要な場合は編集や削除を行うことがあります。</p>
        </li>
        <li>第三者との情報共有に関する注意事項
          <p>投稿した情報が他のユーザーに公開される可能性があることを理解し、慎重に投稿してください。ユーザー自身が原因で起きた問題に関しましてはMOTORCHATが関与できる範囲は限りがございます。ご利用に関しましてはすべて自己責任でお願い致します。</p>
        </li>
      </ol>
      <p>MOTORCHATの個人情報の取り扱いにつきまして、お問い合わせ等ございましたら、下記までご連絡くださいますようお願い申し上げます。</p>
      <p>E-mail：motorchat315@gmail.com
    </div>
  </div>
</body>
</html>

