@use '~bootstrap/scss/bootstrap';

footer {
  height: 70px;
  display: inline-block;
}

.custom-toggler.navbar-toggler {
  border-color: #343a40; /* ボタンの境界線の色を変更 */
}

.navbar-toggler {
  border-color: #343a40; /* ボタンの境界線の色を変更 */
}

.favorite-link {
  text-decoration: none; /* 下線を削除 */
  color: black;
}

.favorite-link:hover {
  text-decoration: none; /* ホバー時にも下線を削除 */
  color: black;
}

.favorite-link .count-text {
  pointer-events: none;
}

.new-post-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 999;
}

.button:hover {
  box-shadow   : none;                 /* 影の設定 */
  opacity      : 0.8;                  /* 透明度 */
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-slide-down {
  opacity: 0;
  animation: slideDown 5s forwards;
}

.profile-image {
    width: 100px;
    height: 90px;
    object-fit: cover; /* アスペクト比を維持しながら正方形に収めるのに便利 */
}

.profile-image-mini {
    width: 70px;
    height: 60px;
    object-fit: cover;
}

.profile-image-profile {
    width: 160px;
    height: 150px;
    object-fit: cover;
}

.profile-image-chat {
    width: 38px;
    height: 28px;
    object-fit: cover;
}


.customer-name {
  margin-left: 20px;
}

.search-form-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f8f9fa;
}